.nosotros-section {
  padding: 2rem;
  background-color: #fdfdfd;
  text-align: center;
  align-items: center;
}

.highlight{
    color: #ff5722;
}

.nosotros-titulo {
  font-size: 3rem;
  text-align: center;
  color: #028a0f;
  margin-bottom: 3rem;
}

.nosotros-bloque {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #d9dfe1;
  border-left: 8px solid #028a0f;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  max-width: 1100px;
  margin: 0 auto 2rem auto;

}

.nosotros-bloque:hover {
  transform: translateY(-5px);
}


.nosotros-titulo {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 3rem;
}



.nosotros-imagen {
  width: 120px;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.nosotros-bloque:hover .nosotros-imagen {
  transform: scale(1.1);
}

.nosotros-texto {
  text-align: left;
}

.nosotros-texto h2 {
  font-size: 1.8rem;
  color: #028a0f;
  margin-bottom: 0.5rem;
}

.nosotros-texto p,
.nosotros-texto ul {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: justify;
}



.valores-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Fuerza siempre dos columnas */
  gap: 0.5rem 2rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.valores-grid li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.05rem;
  white-space: nowrap; /* Evita saltos de línea raros */
}




@media (max-width: 768px) {
  .nosotros-bloque {
    flex-direction: column;
    text-align: center;
  }

  .nosotros-texto {
    text-align: center;
  }
}
